#confirm-hider {
  position: absolute;
  margin-top: 13px;
  margin-left: 698px;
  color: white;
}

.createRow {
  padding-top: 25px;
}

a {
  color: pink;
}

@media only screen and (max-width: 500px) {
  #confirm-hider {
    position: absolute;
    margin-top: 13px;
    margin-left: 170px;
  }

  a {
    display: block;
  }
}
